<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>{{search | replace:'_',' ' | capitalize}} - {{show.name}} - Bonnes Ondes</title>
    {% include 'head' %}
  </head>

  <body class="show">
    <div id="container">
      {% include 'header' %}
      <div id="panel">
        <div id="breadcrumbs">
          {% include 'breadcrumbs' %} > {{search | replace:'_',' ' | capitalize}}
        </div>
        {% include 'menu' %}
        <div id="content">
          <h2>{{search | replace:'_',' ' | capitalize}}</h2>

          {% if search == "archives" %}
          <p>
          Chaque semaine, Radio Esperanzah déballe des cartons ses archives sonores… 10 ans de festival, 7 ans de radio éphémère, petite mémoire du festival.
          </p>
          <p>
          Tous les lundis, nous vous proposons de revivre des beaux moments de radios en 10 sons.
          </p>
          {% else %}
          <p>
            Voici tous les émissions correspondants à votre recherche :
          </p>
          {% endif %}

          {% for episode in episodes %}
          <h3>{{ episode.title }}</h3>

          <p>
          {{ episode.description | textilize | strip_tags | truncate: 400 }}
          </p>

          <a href="{{episode.url_for}}" rel="bookmark" title="{{episode.title}}">
            &#8594; lire et écouter la suite &#8250;
          </a>

          {% endfor %}
        </div>
        <div id="sidebar">
          <div class="block tags">
            <h3>Tous les mots-clés</h3>
            <p>
            {% for tag in show.tags limit:15 %}
              {% capture tag_name %}{{tag.name | replace:'_',' ' | capitalize}}{% endcapture %}
              <a href="/tags/{{ tag.name }}" title="{{tag_name}}, toutes les émissions">{{tag_name}}</a>
              {% unless forloop.last %}
              -
              {% endunless %}
            {% endfor %}
            </p>
          </div>
        </div>
      </div>
      {% include 'footer' %}
    </div>
  </body>
</html>
