<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>{{show.name}} - Bonnes Ondes</title>
    {% include 'head' %}
  </head>

  <body class="show">
    <div id="container">
      {% include 'header' %}
      <div id="panel">
        <div id="breadcrumbs">
          {% include 'breadcrumbs' %}
        </div>
        {% include 'menu' %}
        <div id="content">
          <div id="headline">
            <h2>À la une</h2>
              {% for episode in show.tag.a_la_une limit:3 %}
              <div class="episode">
                <a href="{{ episode.url_for }}" title="{{ episode.title }}">
                  {{ episode.image.tag }}
                  <span class="text">{{ episode.title }}</span>
                </a>
              </div>
              {% endfor %}
          </div>

          <h2>Retrouvez sur le site</h2>

          {% for episode in show.broadcasted_episodes limit:3 %}
          <h3>{{ episode.title }}</h3>
          <p>
          {{ episode.description | textilize | strip_tags | truncate: 400 }}
          </p>
          <a href="{{episode.url_for}}" rel="bookmark" title="{{episode.title}}">
            &#8594; lire et écouter la suite &#8250;
          </a>
          {% endfor %}

          <div class="post">
            {% for post in show.posts limit:1 %}
            <h2>{{ post.title }}</h2>
            {{ post.description | textilize }}
            {% endfor %}
          </div>
        </div>
        <div id="sidebar">
          <div class="block">
            <h3>Radios partenaires</h3>
            <ul>
              <li><a href="http://www.radiopanik.org/" title="Radio Panik">Radio Panik</a></li>
              <li><a href="http://www.48fm.ulg.ac.be/" title="48FM">48FM</a></li>
              <li><a href="http://www.run.be/" title="Radio Universitaire Namuroise">Radio Universitaire Namuroise</a></li>
              <li><a href="http://www.radiochango.com/" title="Radio Chango">Radio Chango</a></li>
              <li><a href="http://www.radiosolidaire.com/" title="Radio Solidaire">Radio Solidaire</a></li>
              <li><a href="http://www.groovalizacion.com/" title="Groovalizacion">Groovalizacion</a></li>
              <li><a href="http://www.autres-mondes.org/" title="Autres(M)Ondes">Autres(M)Ondes</a></li>
            </ul>
          </div>

          <div class="block twitter">
            <h3>Sur Twitter <a href="http://twitter.com/radioesperanzah">@radioesperanzah</a></h3>
          </div>

          <div class="block">
            <h3>Archives</h3>
            <ul>
              <li><a href="/tags/archives" title="Radio Panik">Les meilleurs moments</a></li>
              <li><a href="http://radio-esperanzah-2010.bonnes-ondes.fr/" title="Tout Radio Esperanzah! 2010">2010</a></li>
              <li><a href="http://radio-esperanzah-2009.bonnes-ondes.fr/" title="Tout Radio Esperanzah! 2009">2009</a></li>
              <li><a href="http://radio-esperanzah-2008.bonnes-ondes.fr/" title="Tout Radio Esperanzah! 2008">2008</a></li>
              <li><a href="http://2007.esperanzah.be/radio" title="Tout Radio Esperanzah! 2007">2007</a></li>
              <li><a href="http://www.autres-mondes.org/evenements/2006/radio-esperanzah" title="Tout Radio Esperanzah! 2006">2006</a></li>
            </ul>
          </div>
        </div>
      </div>
      {% include 'footer' %}
    </div>
  </body>
</html>
